##############################
## Common
##############################
**/bin/
**/build/
**/out/
**/tmp/
**/doc/
**/log
**/logs
**/target/
**/debug/
**/node_modules/

*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

##############################
## Visual Studio Code
##############################
*.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Intellij
##############################
*.idea/

##############################
## Golang
##############################
go.work
go.work.sum

##############################
## Java
##############################
local.properties
gradle-app.setting
!gradle-wrapper.jar

*.idea_modules/
*.settings/
*.mtj.tmp/
.metadata
.classpath
.project
.loadpath
.factorypath
.gradle
.gradletasknamecache


hs_err_pid*
replay_pid*

*.iml
*.ipr
*.iws
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.nar
*~.nib


##############################
## Miscellaneous
##############################
env.sh
