##############################
## Common
##############################
**/bin/
**/build/
**/out/
**/tmp/
**/doc/
**/log
**/logs
**/target/
**/debug/
**/node_modules/

*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.ordelo
*.sh

##############################
## Visual Studio Code
##############################
*.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Intellij
##############################
*.idea/

##############################
## Golang
##############################
go.work
go.work.sum


##############################
## Miscellaneous
##############################
